body {
  margin: 0;
  padding: 0;
  border: 2px solid transparent;
  /* make it look decent enough */

  background: black;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}
#root {
  height: max-content;
  width: max-content;
  background: black;
}

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input ~ ul {
  display: none;
}
/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
  display: block;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
.top {
  z-index: 2;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.homepageTag {
  background-color: orange;
  box-shadow: 2px 3px 4px 3px;
  width: fit-content;
  margin: 10px;
  float: right;
  border-radius: 2px 4px;
  padding: 5px;
}
.chat {
  border: 2px solid wheat;
  border-radius: 30px;
  overflow: hidden;
}


.one {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 25px;
}
.two {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover {
  height: 20px;
  background-color: wheat;
  position: relative;
  bottom: 20px;
}
.instruction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.upgrade {
  transition: transform ease-in;
  box-shadow: 2px 2px 4px 4px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}
.upgrade:hover {
  transform: scale(0.9);
  background-color: black;
  cursor: pointer;
}

.updateCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
}
.updateCard {
  width: 80%;
}
.updateCard strong {
  color: gold;
}
.coins {
  padding: 5px;
}

@media (max-width: 700px) {
  .coins > p,
  .coins > h3 {
    font-size: smaller;
  }
}
.coins :hover {
  width: 80px;
  border: 2px solid red;
  border-radius: 50px;
}
.replyA {
  position: absolute;
  height: 105vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}
@media (max-width: 700px) {
  .one {
    flex-direction: column;
  }
  DDzW69AmjbVDTjHzbvvxovKQYQyXrZtxPn .depositTable {
    margin-left: 102px;
  }
}
